body {
    background-color: #DFEEEA;
    margin: 0;
    padding: 0;
}

.movie-container{
    background-color: #A7C4BC;
}

.searchBar {
    min-width: 100%;
    background-color: #5E8B7E;
}

.input-group {
    max-width: 30%;
    
}


.judul {
    background-color: #2F5D62;
}
.card  {
    border-style: groove;
	border-width: 15px;
    border-color: #B3E283;
    box-shadow: 0 0 1px #2ec728, 0 0 3px #2ec728, 0 0 5px #2ec728, 0 0 7px #2ec728, 0 0 9px #2ec728;
}
.gambar {
    min-height: 400px;
    max-height: 400px;
}